<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/global.css" />
    <link rel="stylesheet" href="css/index.css" />
    <title>대전</title>
  </head>
  <body>
    <a href="/add">전해주세요 ! !</a>

    <div id="div_msgs">
      <div class="div_msg">
        <p class="msg">이상원 너무 잘생김 ㅜㅜ</p>
      </div>
      <div class="div_msg">
        <p class="msg">김지환 너무 못생김 ㅜㅜ</p>
      </div>
      <div class="div_msg">
        <p class="msg">이서윤 너무 잘생김 ㅜㅜ</p>
      </div>
    </div>

    <script src="client/index.js"></script>
  </body>
</html>
